
#card1_dig{background-image: url(/Traffic-BS5-ver/Img/grid_digest/1.png);}
#card2_dig{background-image: url(/Traffic-BS5-ver/Img/grid_digest/2.png);}
#card3_dig{background-image: url(/Traffic-BS5-ver/Img/grid_digest/3.png);}

.digest_card{
    box-sizing: border-box;
    border: 1px solid #c536ef;
    border-radius: 6px;
    width: 28vw;
    height: 18vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: box-shadow ease .3s;
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;

    @media screen and (max-width: 1200px) {
        width: 28*1.5vw;
        height: 18*1.5vw;
    }

    @media screen and (max-width: 992px) {
        width: 90vw;
        height: 60vw;
    }
}

.digest_card:hover{
    box-shadow: inset 0px 4px 107px 0px rgba(178, 61, 224, 0.47);
}

.custom-btn_digest{
    padding: 10px 20px; 
  }

  .custom-pills-digest .nav-link {
    background-color: rgba(255, 255, 255, 0.135);
    color: white; 
    border: 2px solid transparent;
  }

  .custom-pills-digest .nav-link.active {
    background-color: #ff00ff5e;
    color: white; 
    border-color: #C536EF; 
  }


.card_hidden{
    display: none;
}

.color_span{
    color: #FF57FF;
}