.partn_h.color_span{
    color: #FF57FF;
}

.partn_h{
    color: white;
    font-family: $man_reg;
    font-size: 2rem;
}

.partn_h1{
    color: white;
    font-family: $man_med;
    font-size: 3rem;
}
.partn_p{
    color: white;
    font-family: $man_med;
    font-size: 1.2rem;
    width: 60%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

