
$main_accent: #FF57FF;
$bg: #140818;
$gray_fill: #FFFFFF, #7371FF;
$main_fill: linear-gradient(118.37deg, rgb(255, 87, 255),rgb(140, 60, 237));


:root{
    --index: calc(1vw+1vh);

}

.bg_main{
    background-image: url(/Traffic-BS5-ver/Img/BGs/main\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_services{
    background-image: url(/Traffic-BS5-ver/Img/BGs/services\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin base_padding{
    padding-left: clamp(14px, 4vw ,88px);
    padding-right: clamp(14px, 4vw ,88px);
}


input {
    outline: 0;
}

.wrapper{
    @include base_padding;
}

html{
    overflow-x: hidden;
    cursor: default;
    
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
    scrollbar-gutter: stable;
    
    font-size: 15px;
}

@media screen and (min-width: 576px) {
    html {
        font-size: 11px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 992px) {
    html {
        font-size: 13px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 15px;  /* Размер для экранов шире 1400px */
    }
}


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: $bg;
    // background-color: gray;
}

.void{
    height: 1000px;
}

