
@mixin main_button{
    border: 2px solid rgb(197, 54, 239);
    border-radius: 52.11px;
    box-shadow: 0px 0px 22px 0px rgba(176, 102, 255, 0.15);
    background: rgba(255, 87, 255, 0.08);
    color: white;
    font-family: $man_semi;
    letter-spacing: 0%;
    transition: all ease .3s;
    cursor: pointer;
    text-decoration: none;
}

@mixin main_hover {
    background: rgba(255, 0, 255, 0.59);
}

@mixin gray_button{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    background: linear-gradient(135.31deg, rgba(255, 255, 255, 0.12) 8.255%,rgba(115, 113, 255, 0.12));
    cursor: pointer;
    color: white;
    transition: all ease .3s;
    text-decoration: none;
}

@mixin gray_button_hover{
    background-color: #ffffff31;
}

@mixin non_active_button{
    border: 2px solid rgb(97, 97, 97);
    border-radius: 52.11px;
    background: rgba(186, 186, 186, 0.08);
    cursor: pointer;
    text-decoration: none;
}

@mixin gradient_h{
    background: linear-gradient(82deg, #ff57ff 25%, #8c3ced 75%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    font-family: $man_Bold;
}