.about_us_hero_h1{
    font-size: 5rem;
}

.about_us_hero{
    margin-top: 10rem;
}

.about_us_hero p{
    font-size: 3rem;
    background: linear-gradient(-79deg, #FD39D3, #FFFFFF); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: $man_reg;
}

.about_us_card{
    margin-top: 3rem;
    gap: 3rem;
    padding: 4rem 6rem;
    border-radius: 20px;
    backdrop-filter: blur(7px);
    /* 2nd-btn_style */
    background: linear-gradient(135.31deg, rgba(255, 255, 255, 0.07) 8.225%,rgba(115, 113, 255, 0.07) 100%);
}

.about_us_card_h1{
    color: white;
    font-family: $man_reg;
    font-size: 2rem;
}
.about_us_card_h2{
    margin-top: 4rem;
    color: white;
    font-family: $man_med;
}
.about_us_card_h3{
    color: #838383;
    font-family: $man_reg;
}

.card_ava{
    width: 120px;
}

@media (max-width: 768px) {
    .about_us_hero p{
        font-size: 3rem;
    }
    .about_us_card{
        padding: 2rem 3rem;
    }
    .about_us_card_h1{
        color: white;
        font-family: $man_reg;
        font-size: 1.8rem;
    }
    .adapt_br{
        display: none;
    }
    
}